{% extends "_layouts/base" %}

{% block body %}
  {% if craft.request.url != siteUrl %}
    <div class="header">
      <a class="header__home-link" href="{{ siteUrl }}">&larr; Home</a>
    </div>
  {% endif %}

  {% block main %}{% endblock %}
{% endblock %}
