.header {
  margin-top: 20px;
  margin-bottom: 50px;
}

.header__home-link {
  @include font-body;
  border: 0;
  text-transform: lowercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #666;
}
