.landing__header {
  @extend %page-header;
}

.landing__projects {
  max-width: 1030px;
  margin: 0 auto;
}

.landing__project {
  margin: 30px 0;
}

.landing__project a {
  @include font-body;
  border: 0;
  display: flex;
}

.landing__project-image,
.landing__project-details {
  width: 50%;
}

.landing__project-image img {
  display: block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.landing__project-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__project-details h3 {
  margin-bottom: 0;
}

.landing__project-details p {
  margin-top: 0;
}
