.landing__header {
  @extend %page-header;
}

.landing__projects {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
}

.landing__project {
  margin: 30px 0;
}

.landing__project a {
  @include font-body;
  border: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.landing__project-image,
.landing__project-details {
  width: 100%;

  @media (min-width: 600px) {
    width: 50%;
  }
}

.landing__project-image {
  margin-bottom: 10px;

  @media (min-width: 600px) {
    margin-bottom: 0;
  }
}

.landing__project-image img {
  display: block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.landing__project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 600px) {
    margin-left: 20px;
  }
}

.landing__project-details h3 {
  margin: 0;
}

.landing__project-details p {
  margin: 0;
}
