.project__header {
  @extend %page-header;
}

.project__url {
  margin: 0;
  font-size: 14px;
}

.project__url a {
  @include font-body;
}

.project__page {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0 20px;
}

.project__image img,
.project__page img {
  display: block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.project__page-desktop {
  width: 1150px;
}

.mobile-active .project__page-desktop {
  display: none;
}

.project__page-mobile {
  margin-left: 20px;
  width: 375px;
}

.desktop-active .project__page-mobile {
  display: none;
}

.project__image {
  margin: 20px auto;
  max-width: 100%;
  padding: 0 20px;
}
