%page-header {
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

%page-header h1 {
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
