// Fonts
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-source: 'Source Serif Pro', serif;
$font-family-heading: $font-family-montserrat;
$font-family-body: $font-family-source;
$font-family-base: $font-family-body;

@mixin font-heading {
  font-family: $font-family-heading;
  font-weight: 600;
}

@mixin font-body {
  font-family: $font-family-body;
  font-weight: 400;
}

$font-size: 16px;
$line-height: 1.6;

// Colors

