{% extends "_layouts/site" %}

{% block main %}
  <div class="landing">
    <div class="landing__header">
      <h1>Alex Marchant</h1>
    </div>

    <div class="landing__projects">
      {% for project in entry.projects %}
        <div class="landing__project">
          <a href="{{ project.url }}">
            <div class="landing__project-image">
              <img src="{{ imgixURL(project.previewImage.one().url, {auto: 'format,compress'}) }}">
            </div>
            <div class="landing__project-details">
              <div class="landing__project-details-wrapper">
                <h3>{{ project.title }}</h3>
                <p>{{ project.previewText }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
