{% extends "_layouts/site" %}

{% block main %}
  <div class="landing">
    <div class="landing__header">
      <h1>Alex Marchant</h1>
    </div>

    <div class="landing__projects">
      {% for project in craft.entries.section('projects').all() %}
        {{ project.title }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
