<!DOCTYPE html>
<html>
  <head>
    <title>Alex Marchant's Resume</title>
  </head>
<body>
  <p>
    <h1>Alex Marchant</h1>
    <a href="mailto:alexjmarchant@gmail.com">alexjmarchant@gmail.com</a>
    <br />
    <a href="https://www.alexmarchant.com">https://www.alexmarchant.com</a>
  </p>

  <div>
    <h2>Summary</h2>
    <p>Software engineer with 7 years of experience, including the following programming languages, frameworks, and platforms.</p>
    <ul>
      <li>JavaScript</li>
      <li>React & Redux</li>
      <li>Node.js</li>        
      <li>Swift</li>
      <li>Ruby/Rails</li>
      <li>SQL</li>
      <li>PHP/Wordpress</li>              
      <li>iOS - UIKit</li>
      <li>macOS - AppKit</li>
      <li>AWS</li>
      <li>Firebase</li>
    </ul>
  </div>

  <div>
    <h2>Work History</h2>

    <h3>Software Consultant</h3>
    <ul>
      <li>
        <p>
          <strong>Mastin Labs</strong>
          <br />
          <a href="https://www.mastinlabs.com">https://www.mastinlabs.com</a>
          <br />
          October 2014 - March 2018
        </p>
        <p>
          Mastin Labs is a CMS/E-commerce platform built on Wordpress.
        </p>
        <ul>
          <li>Modernized front end to use React and Redux.</li>
          <li>Modernized back end to use a modern PHP stack with package management.</li>
          <li>Moved infrastructure to AWS to prevent crashes caused by high traffic.</li>
          <li>Developed automated Windows and macOS installers for their photography software, drastically cutting support costs.</li>
          <li>Improved page load times by over 25% with tweaks and optimizations to all layers, from database to application to networking and CDN's.</li>
          <li>Set up Ansible for server provisioning and deployments, allowing us to provision new servers in minutes instead of hours, free from human error.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Plug</strong>
          <br />
          <a href="https://www.plugformac.com">https://www.plugformac.com</a>
          <br />
          July 2012 - Present
        </p>
        <p>
          Plug, a collaboration with designer <a href="https://twitter.com/glennui" target="_blank" rel="noreferrer noopener">Glenn Hitchcock</a>, is a desktop Mac app for&nbsp;<a href="https://hypem.com" target="_blank" rel="noreferrer noopener">Hype Machine</a>, a popular music streaming and discovery service.
        </p>
        <ul>
          <li>V1, 2012 - Developed with Objective-C.</li>
          <li>V2, 2014 - Completely redesigned and rewrote with Swift.</li>
          <li>Implemented crash reporting and got to 99.9% crash free sessions.</li>
          <li>Built up to about 4.5k monthly active users.</li>
          <li>Received purchase offer from the owners of Hype Machine.</li>
          <li>Extended the Hype Machine API to track top 50 songs popularity over time using AWS Lambda serverless functions.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Lean Dental Solutions</strong>
          <br />
          July 2013 - October 2017
        </p>
        <p>
          LDS is an inventory management system for dental offices.
        </p>
        <ul>
          <li>Built a Rails app from the ground up to track over half a million pieces of inventory.</li>
          <li>Developed system that could print barcodes from specialized printers and then use wireless barcode scanners to enter items into inventory.</li>
          <li>I'd add more here.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Tiled</strong>
          <br />
          <a href="https://www.tiled.co">https://www.tiled.co</a>
          <br />
          March 2015 - October 2015
        </p>
        <p>Worked with Tiled to develop an early version of their presentation software. We were working to make Tiled a simple set of tiles that you could fill with text and pictures and other information, which could then be deployed on kiosks at trade shows or retails stores.</p>
        <ul>
          <li>Developed a highly documented and tested Rails API from scratch that interfaced with their Android app and SPA React web app.</li>
          <li>Helped implement their SPA React web app, which was a complex graphical representation of their tile presentations.</li>
          <li>Implemented an early version of Redux, which greatly simplified their state management.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Roche/HITLAB</strong>
          <br />
          <a href="https://www.roche.com">https://www.roche.com</a>
          /
          <a href="http://www.hitlab.org">http://www.hitlab.org</a>
          <br />
          November 2014 - February 2015
        </p>
        <p>Developed an iPhone app for Roche pharmaceuticals (2nd largest pharmaceutical, and one of the largest companies in the world) to test new internal processes.</p>
      </li>
      <li>
        <p>
          <strong>Gather for Goats</strong>
          <br />
          <a href="https://gatherforgoats.com">https://gatherforgoats.com</a>
          <br />
          April 2017
        </p>
        <p>Fund raising site for Syrian refugees.</p>
        <ul>
          <li>Raised over $250k to benefit Syrian refugees stuck in Jordan.</li>
          <li>Built this site over a weekend with TypeScript and React on the front end with a Firebase back end to allow a simple admin dashboard for some of the non-profit volunteers to control content on the site.</li>
          <li>Used Firebase serverless functions to automatically scrape the fund raising site and update goal progress.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Brand New Matter</strong>
          <br />
          <a href="https://www.brandnewmatter.com">https://www.brandnewmatter.com</a>
          <br />
          February 2016 - August 2017
        </p>
        <p>Created CMS backed marketing site for Manhattan based business consulting firm.</p>

      </li>
      <li>
        <p>
          <strong>Enlisted Design</strong>
          <br />
          <a href="https://www.enlisteddesign.com">https://www.enlisteddesign.com</a>
          <br />
          June 2013 - March 2014
        </p>
        <p>Created CMS for industrial design firm to showcase projects and recruit employees.</p>
      </li>
      <li>
        <p>
          <strong>Lokul</strong>
          <br />
          March 2015 - October 2015
        </p>
        <p>Lokul allows businesses to use iBeacons without building their own mobile apps. I worked with them to build a functioning MVP version of their iPhone app.</p>
      </li>
      <li>
        <p>
          <strong>Flavorpill</strong>
          <br />
          <a href="http://www.flavorpill.com">http://www.flavorpill.com</a>
          <br />
          February 2012
        </p>
        <p>Flavorpill is a curated service of things to do in major US cities.</p>
        <ul>
          <li>Worked to redesign their platform from the ground up, including rethinking of core parts of their strategy and implementation.</li>
          <li>Worked with a small team during a 2 week sprint to build a functioning Rails MVP.</li>
        </ul>
      </li>
    </ul>

    <h3>TippingPress</h3>
    <ul>
      <li>
        <p>
          <strong>Co-Founder</strong>
          <br />
          October 2011 - July 2012
        </p>
        <p>
          My introduction to programming. Started company and created rails a to crowdfund screen printed t-shirts. 
        </p>
      </li>
    </ul>

    <h3>Zions Bank</h3>
    <ul>
      <li>
        <p>
          <strong>Summer Analyst</strong>
          <br />
          May 2011 - July 2011
        </p>
        <ul>
          <li>Worked in leveraged lending arm of the Corporate Banking group; presented regularly to executive vice president level management.</li>
          <li>Designed a new standard template for calculating cash flow which was implemented by the head of the leveraged lending arm.</li>
          <li>Assisted in closing deals worth over $100 million in 3 months, a record for the Corporate Banking group.</li>
        </ul>
      </li>
    </ul>

    <h3>Marchant Properties</h3>
    <ul>
      <li>
        <p>
          <strong>Owner/Operator</strong>
          <br />
          September 2009 - June 2013
        </p>
        <p>Purchased and restored rental properties in Detroit. I did most of the repairs myself, learning to fix plumbing, fixtures, appliances, windows, doors, etc. Because turned a profit the first year, and continued earn money until we sold in 2013.</p>
      </li>
    </ul>

    <h3>University of Utah</h3>
    <ul>
      <li>
        <p>
          <strong>Summer Researcher</strong>
          <br />
          May 2009 - July 2009
        </p>
        <ul>
          <li>Developed and tested breakthrough graphical display for measuring patient respiration, reducing user error up to 90%.</li>
          <li>Used Excel and Visual Basic to program automatic testing procedure, cutting testing time by 43%.</li>
          <li>Conclusions to be published in a peer-reviewed scientific journal.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h2>Education</h2>
    <h4>Brigham Young University - Provo, Utah</h4>
    <ul>
      <li>B.S. Business Management - Finance: December 2011</li>
    </ul>
  </div>

  <div>
    <h2>Other Notes</h2>
    <ul>
      <li>Fluent in Russian.</li>
      <li>Ran the 2017 New York marathon.</li>
    </ul>
  </div>
</body>
</html>
