<!DOCTYPE html>
<html>
  <head>
    <title>Alex Marchant's Resume</title>
  </head>
<body>
  <p>
    <h1>Alex Marchant</h1>
    <a href="mailto:alexjmarchant@gmail.com">alexjmarchant@gmail.com</a>
    <br />
    <a href="https://www.alexmarchant.com">https://www.alexmarchant.com</a>
  </p>

  <div>
    <h2>Summary</h2>
    <p>Software engineer with 7 years of experience, including the following programming languages, frameworks, and platforms:</p>
    <ul>
      <li>JavaScript [proficient]</li>
      <li>React & Redux [proficient]</li>
      <li>Ruby/Rails [proficient]</li>
      <li>PHP/Wordpress [proficient]</li>
      <li>macOS - AppKit [proficient]</li>
      <li>Swift [proficient]</li>
      <li>Node.js [proficient]</li>
      <li>SQL [some experience]</li>
      <li>iOS - UIKit [some experience]</li>
      <li>AWS [some experience]</li>
    </ul>
  </div>

  <div>
    <h2>Work History</h2>

    <h3>Software Consultant</h3>
    <ul>
      <li>
        <p>
          <strong>Mastin Labs</strong>
          <br />
          <a href="/projects/mastin-labs">Images</a>
          <br />
          <a href="https://www.mastinlabs.com">https://www.mastinlabs.com</a>
          <br />
          <a href="https://www.filmborn.com">https://www.filmborn.com</a>
          <br />
          October 2014 - March 2018
        </p>
        <p>
          E-commerce store for professional photography software.
        </p>
        <ul>
          <li>Led development effort of complete site overhaul, saw a 10x increase in monthly unique visits.</li>
          <li>Improved page load times by over 25% with tweaks and optimizations to all layers, from database to application to networking and CDN's.</li>
          <li>Wrote and deployed automated Windows and macOS installers for their photography software, drastically cutting the support time spent to help users install their software manually.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Roche</strong>
          <br />
          <a href="https://www.roche.com">https://www.roche.com</a>
          <br />
          November 2014 - February 2015
        </p>
        <p>iOS app w/ Rails API back end, used for collecting feedback from employees.</p>
        <ul>
          <li>Lead development effort and worked on product design for an iPhone app for large multinational company Roche to test and evaluate new programs internally.</li>
          <li>Worked on tight deadline to get design, back end dev, iOS dev, QA, and deployment all done in under a month.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Plug</strong>
          <br />
          <a href="/projects/plug">Images</a>
          <br />
          <a href="https://www.plugformac.com">https://www.plugformac.com</a>
          <br />
          July 2012 - Present
        </p>
        <p>
          Desktop macOS client app for <a href="https://hypem.com" target="_blank" rel="noreferrer noopener">Hype Machine</a>, a popular music streaming and discovery service.
        </p>
        <ul>
          <li>V1, 2012 - Developed with Objective-C.</li>
          <li>V2, 2014 - Completely redesigned and rewrote with Swift.</li>
          <li>99.9% crash free sessions.</li>
          <li>4.5k monthly active users.</li>
          <li>Developed strong understanding of AppKit and macOS programming from having to highly customize almost all of the standard UI and window component that we used.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Lean Dental Solutions</strong>
          <br />
          July 2013 - October 2017
        </p>
        <p>
          Inventory management for dental offices built on Rails.
        </p>
        <ul>
          <li>Designed a system to efficiently track over half a million pieces of inventory for hundreds of clients.</li>
          <li>Used custom SQL queries to efficiently load and render tens of thousands of inventory records, their related state records, and a sum total of their prices. This solved major loading time issues when generating yearly reports.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Gather for Goats</strong>
          <br />
          <a href="/projects/gather-for-goats">Images</a>
          <br />
          April 2017
        </p>
        <p>Non-profit fund-raising site for Syrian refugees.</p>
        <ul>
          <li>Raised over $250k to provide goats for Syrian refugees stuck in Jordan.</li>
          <li>Built the site, including a simple admin dashboard, in a single day to prepare for quick launch.</li>
          <li>Used serverless functions to automatically scrape the fund raising site and update goal progress with no manual work required.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Tiled</strong>
          <br />
          <a href="https://www.tiled.co">https://www.tiled.co</a>
          <br />
          March 2015 - October 2015
        </p>
        <p>Presentation software startup focused on kiosk and trade show marketing tools.</p>
        <ul>
          <li>Developed the introductory version of the Tiled presentation software launching the company’s products and marketing campaign.</li>
          <li>Simplified and developed a digital configuration system that allows customers to fill with text, pictures and other information. The tiles were then deployed at digital kiosks at trade shows and retails stores.</li>
          <li>Worked with in-house Android and web teams to develop a highly documented and tested Rails API. Good communication was important here to understand the needs of the many teams that interact with the API.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Brand New Matter</strong>
          <br />
          <a href="/projects/brand-new-matter">Images</a>
          <br />
          <a href="https://www.brandnewmatter.com">https://www.brandnewmatter.com</a>
          <br />
          February 2016 - August 2017
        </p>
        <p>CMS backed marketing site for Manhattan based business consulting firm.</p>

      </li>
      <li>
        <p>
          <strong>Enlisted Design</strong>
          <br />
          <a href="/projects/enlisted-design">Images</a>
          <br />
          June 2013 - March 2014
        </p>
        <p>CMS for industrial design firm to showcase projects and recruit employees.</p>
      </li>
      <li>
        <p>
          <strong>Lokul</strong>
          <br />
          March 2015 - October 2015
        </p>
        <p>iOS app that allows businesses to use iBeacons without building their own mobile apps.</p>
        <ul>
          <li>Worked to design and develop the MVP of their iPhone app.</li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Flavorpill</strong>
          <br />
          <a href="https://techcrunch.com/2012/10/09/flavorpill-ge/">https://techcrunch.com/2012/10/09/flavorpill-ge/</a>
          <br />
          February 2012
        </p>
        <p>Flavorpill is a curated service of things to do in major US cities.</p>
        <ul>
          <li>Worked to redesign their platform from the ground up, including rethinking of core parts of their strategy and implementation.</li>
          <li>Rushed to meet very ambitious deadlines and build a functional v1 of the redesigned site.</li>
        </ul>
      </li>
    </ul>

    <h3>TippingPress</h3>
    <ul>
      <li>
        <p>
          <strong>Co-Founder</strong>
          <br />
          October 2011 - July 2012
        </p>
        <p>
          My introduction to programming. Started company and learned to program while making a Rails app to crowdfund screen printed t-shirts. 
        </p>
      </li>
    </ul>

    <h3>Zions Bank</h3>
    <ul>
      <li>
        <p>
          <strong>Summer Analyst</strong>
          <br />
          May 2011 - July 2011
        </p>
        <ul>
          <li>Together with team closed deals worth over $100 million in 3 months, a record for the Corporate Banking group.</li>
          <li>Analyzed proposals to the Leveraged Lending arm of the Corporate Banking group.</li>
          <li>Presented regularly to executive vice president level management.</li>
          <li>Designed a new standard template for calculating cash flow which was implemented by the head of the leveraged lending arm.</li>
        </ul>
      </li>
    </ul>

    <h3>Marchant Properties</h3>
    <ul>
      <li>
        <p>
          <strong>Owner/Operator</strong>
          <br />
          September 2009 - June 2013
        </p>
        <ul>
          <li>Purchased and restored rental properties in Detroit performing extensive residential renovation and repairs.</li>
          <li>Turned a profit the first year, and continued positive cash flow through sale of properties.</li>
        </ul>
      </li>
    </ul>

    <h3>University of Utah</h3>
    <ul>
      <li>
        <p>
          <strong>Summer Researcher</strong>
          <br />
          May 2009 - July 2009
        </p>
        <ul>
          <li>Developed and tested breakthrough graphical display for measuring patient respiration, reducing staff error up to 90% compared to current text based displays.</li>
          <li>Updated old testing procedures using advanced functionality in Excel and Visual Basic. Many steps were automated or simplified cutting testing time by 43%.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h2>Education</h2>
    <h4>Brigham Young University - Provo, Utah</h4>
    <ul>
      <li>B.S. Business Management - Finance: December 2011</li>
    </ul>
  </div>

  <div>
    <h2>Other Notes</h2>
    <ul>
      <li>Fluent Russian - Speak/Read/Write</li>
      <li>Fitness and running - 2017 New York Marathon</li>
    </ul>
  </div>
</body>
</html>
